
[Upgrade]
Default Entry = TRUE
Username = sadmin
Key Value = Wanh0a1d7oEBetkAAA==
Key Value 2 = 3yRdrsUc3AUBidYAAA==
ODBC Data Source = Siebel_DSN
Data Source = Siebel_DSN
Table Owner = SIEBEL
Siebel Root = CHANGE_ME_SIEBEL_BASE/ses/siebsrvr
Process Name = install
Language = ENU
Index Space = SINDEX
Table Space = SDATA
16K Table Space = $16KTableSpace
32K Table Space = $32KTableSpace
Repository Name = Siebel Repository
Repository File Name = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr/common/mstrep.dat
Seed File Name = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr/ENU/seed.dat
Language Specific Seed File Name = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr/ENU/seed_locale.dat
Database Platform = oracle
Database Server = $DatabaseServer
Schema Qualifier = SIEBEL
Database Owner = SIEBEL
Unicode Flag = Y
Grantee = SSE_ROLE
Dbsrvr Root = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr
Oracle Parallel Index = N
Keep All UpgWiz Files = 1
Database Schema Process = 1
Run Unattended = 1
Orchestrator Mode = 1
Resource Language = DEU
Siebel Log Directory = CHANGE_ME_SIEBEL_BASE/ses/siebsrvr/log/install/output
Siebel Log Events = 3
License Key = $LicenseKey
Master File Name = master_install.ucf

[Upgrade 1]
File Name = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr\oracle\driver_install.ucf
Is Archived = 0
Title = install
