
[Upgrade]
Default Entry = TRUE
Username = sadmin
Key Value = l9HEZURHss0BXM8AAA==
Key Value 2 = jQKIhMLhxRkBCbQAAA==
ODBC Data Source = Siebel_DSN
Data Source = Siebel_DSN
Table Owner = SIEBEL
Siebel Root = CHANGE_ME_SIEBEL_BASE/ses/siebsrvr
Process Name = imprep
Language = ENU
Repository Name = Siebel Repository
Repository File Name = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr/common/mstrep.dat
Database Platform = oracle
Schema Qualifier = SIEBEL
Database Owner = SIEBEL
Unicode Flag = $UnicodeFlag
Dbsrvr Root = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr
Keep All UpgWiz Files = 1
Database Schema Process = 1
Run Unattended = 1
Orchestrator Mode = 1
Resource Language = ENU
Siebel Log Directory = CHANGE_ME_SIEBEL_BASE/ses/siebsrvr/log/imprep/output
Siebel Log Events = 3
Master File Name = master_imprep.ucf

[Upgrade 1]
File Name = CHANGE_ME_SIEBEL_BASE/ses/dbsrvr\oracle\driver_imprep.ucf
Is Archived = 0
Title = imprep
